.sinProductosContainer{
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.butonVerTodos{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
}