.TituloDatos{
  margin: 70px 0 20px 50px;
}
.bodyReserva{
  display: flex;
  flex-direction: row;
}
.conteinerTitulo {
  position: absolute;
  top: 100px;
  background-color: #5b3b2c;
  color: #fff;
}

#calres1{
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    width: 650px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.horaLlegada{
  width: 650px;
  color: #5b3b2c;
  margin-top: 50px;
  height: 150px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -6px black;
  border-radius: 10px;
}

hr {
    width: 100%;
    color: black;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    z-index: 9;
}

.imgreserva{
  width: 330px;
  object-fit: cover;
}
.estrellas {
  position: absolute;
  right: 40px;
  top: 19px;
  color: #5b3b2c;
}

.columnaDatosContainer{
  display: flex;
  height: 1000px;
  flex-direction: column;
  
}
.columnaDatos {
margin-top: 5%;
}
.columnaDatos h4{
  margin-top: 50px;
  text-align: center;
  color: #5b3b2c;

}
.datosUsuario.container{
  width: 650px;
  height: 300px;
  background-color: #ffffff ;
  color:#5b3b2c;
  box-shadow:  0px 10px 10px -6px black;
  border-radius: 10px;
  margin-top: 40px;
 
}
.datosUsuario.container{
  padding-top: 15px;

}
.datosCalendarios{
  flex-wrap: nowrap;
  flex-direction: column;
  padding-bottom: 15%;
}

.datosUsuario h2{
}

.datosUsuario input{
  height: 40px;
  border: none;
  background-color:#5b3b2c1f ;
  border-radius: 5px;
  padding-left: 15px;
}
.datosPersona{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.datosColumna{
 
  height: 500px;
  width: 550px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.datosCalendario{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #5b3b2c1f;
  color: #5b3b2c;
  height:330px;
  width: 650px;
  margin-top: 40px;
  padding: 1px;
  box-shadow:  0px 10px 10px -6px black;
  border-radius: 10px;
}
.datosCalendario.react-datepicker{
  border: 1px solid #ffffff !important;
  
}
.datosCalendario1{
  
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  

}
.datosCalendario1 h6 {
  color:#5b3b2c;
  margin-right: 20px;
}
.datosCalendario2{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  

}

.datosCalendarios h2{
  margin-top: 20px;
  margin-bottom: 50px;

}
.datosCalendarios h5{
  margin-top: 20px;
  margin-bottom: 35px;

}
.datosCalendarios h3{
  margin-top: 20px;
  margin-bottom: 20px;

}


.datosCalendarios input{
  border: none;
  background-color: #5b3b2c1f;
  height: 40px;
  border: none;
  background-color: #5b3b2c1f;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 20px;
}


.TimePicker{
  border: none;
}

.input{
  border: none;
  background-color: #5b3b2c1f;
}

.columnaDetalle{
  background-color: #ffff;
  color:#5b3b2c;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  box-shadow: 0px 10px 10px -6px black;
  border-radius: 10px;
  margin-top: 10%;
}
.check {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botondetalle {
  margin: 0;
  padding: 0.4rem 4rem ;
}
.imagen-grande{
  width: 100%;
  border-radius: 10px;
}
.skeleton{
width: 20%;
height: 220px;
margin-bottom: 50px;
border-radius: 10px;
background: linear-gradient(-45deg, hsl(210, 15%, 88%), hsl(210, 15%, 95%), hsl(210, 15%, 88%));
background-size: 200%;
animation: loader 1s ease infinite;
}
@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
.skeleton2{
  width: 40%;
  height: 320px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: linear-gradient(-45deg, hsl(210, 15%, 88%), hsl(210, 15%, 95%), hsl(210, 15%, 88%));
  background-size: 200%;
  animation: loader 1s ease infinite;
  }
  @keyframes loader {
    from {
      background-position: -100% 0;
    }
    to {
      background-position: 100% 0;
    }
  }
.skeletoncontainer{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
padding-bottom: 100px;
}
.skeletoncontainer2{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
.checkin{
  margin-top: 15%;

}
.checkout{
  margin-top: 15%;

}
.botondetalle{
  margin-top: 15%;

}
.react-time-picker__wrapper {
   border: none !important; 
  background-color: rgb(91 59 44 / 20%) !important;
  border-radius: 5px;
}

@media (max-width:650px){
  .imgreserva {
    width: 300px;
    object-fit: cover;
}
  .skeletoncontainer{
    flex-direction: column;
    justify-content: center;
  }
  .skeletoncontainer2{
    flex-direction: column;
    justify-content: center;
  }
  .skeleton{
    width: 90%;
  }
  .skeleton2{
    width: 90%;
  }
  .horaLlegada {
    max-width: 100%;
    color: #5b3b2c;
    margin-top: 50px;
    padding: 10px;
    height: 250px;
}
  .bodyReserva{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    --bs-gutter-x: 0;
    padding: 0;
    margin: 0;
  }
  .datosCalendario{
    
    color: #5b3b2c;
    height:600px;
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    --bs-gutter-x: 0;
    padding: 0;
    
  }
  .datosColumna{
 
    height: 500px;
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    --bs-gutter-x: 0;
    padding: 0;
    margin: 0;
  }
  .datosUsuario.container{
    display: grid;
    width: 300px;
  }
  .datosUsuario{
    width: 300px;
    height: 500px;
    margin-top: 100px;
    background-color: #5b3b2c1f ;
    display:flex;
    flex-direction: column;
    color:#5b3b2c;
    --bs-gutter-x: 0;
    padding: 0;
  }
  .datosPersona{
    flex-wrap: wrap;
  
  }

  .datosCalendario1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0 20px 0;
  }
  .datosCalendarios{
    width: 300px;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .columnaDatos{
        flex: 0 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .columnaDetalle {
    width: 85%;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
}
@media (min-width:576px) and (max-width:768px){
  .container {
    max-width: 100% !important;
}
}
@media (min-width:650px) and (max-width:1200px){
  .bodyReserva{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    --bs-gutter-x: 0;
    padding: 0;
  }
  .datosCalendario{
    color: #5b3b2c;
    height:300px;
    width: 650px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    --bs-gutter-x: 0;
    padding: 0;
    margin: 50px 0 0 0;
  }
  .datosColumna{
 
    height: 500px;
    width: 650px;
    display:flex;
    flex-direction: column;
    align-items: center;
    --bs-gutter-x: 0;
    padding: 0;
    margin: 0;
  }
  .datosUsuario{
    width: 650px;
    height: 400px;
    margin-top: 0px;
    background-color: #5b3b2c1f ;
    display:flex;
    flex-direction: column;
    color:#5b3b2c;
    --bs-gutter-x: 0;
    padding: 0;
  }
  .datosPersona{
    flex-wrap: wrap;
  
  }

  .datosCalendario1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0 20px 0;
  }
  .datosCalendarios{
    width: 300px;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .columnaDatos{
    flex: 0 0 auto;
    width: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .columnaDetalle{
    width: 650px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}
